<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://use.fontawesome.com/5da6551756.js"></script>
    <meta charset="utf-8">
    <title>teamWork</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
              <a class="navbar-brand" href="#">teamWork</a>
      </div>
  <form class="form-inline" method="post" action="/login">
    <input class="form-control mr-sm-2"  placeholder="Username" name="username">
    <input class="form-control mr-sm-2"  type="password" placeholder="Password" name="password">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    <a href="/auth/google" class="btn btn-danger" style="margin-left:2px;">Google</a>
      <a href="/auth/facebook" class="btn btn-primary" style="margin-left:2px;">Facebook</a>
  </form>
</nav>
  </head>
  <body>
    <div class="container">
